<div class="container">
  <div class="form-block">
    <div>
      Weather Forecast for {{ latitudeDisplay }} Latitude and
      {{ longitudeDisplay }} Longitude for the next 5 days
    </div>
    <div>
      Please enter a valid latitude (-90.000000 to 90.000000) and longitude
      (-180.000000 to 180.000000)
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div>Latitude: <input type="text" formControlName="latitude" /></div>
      <div>Longitude: <input type="text" formControlName="longitude" /></div>
      <button type="submit">Go</button>
      @if (errorMessage) {
      <div>{{ errorMessage }}</div>
      } @else {
      <div class="err-msg-empty"></div>
      }
    </form>
  </div>

  @for (w of weather?.weather; track w) {
  <div class="weather-block-container">
    <app-weather-block [weatherData]="w"></app-weather-block>
  </div>
  }
</div>
