.container {
  text-align: center;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.info-heading {
  font-size: 1.1rem;
}

.weather-block-container {
  display: inline-block;
  padding: 1rem;
}

.err-msg-empty {
  height: 1.15rem;
}
